<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DadosServlet</servlet-name>
        <servlet-class>br.iganic.controller.DadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagemServlet</servlet-name>
        <servlet-class>br.iganic.controller.ImagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>br.iganic.controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraProdutoServlet</servlet-name>
        <servlet-class>br.iganic.controller.CadastraProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProdutosServlet</servlet-name>
        <servlet-class>br.iganic.controller.BuscaProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvaliarProdutoServlet</servlet-name>
        <servlet-class>br.iganic.controller.AvaliarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosFornecedorServlet</servlet-name>
        <servlet-class>br.iganic.controller.ProdutosFornecedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DadosServlet</servlet-name>
        <url-pattern>/dados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagemServlet</servlet-name>
        <url-pattern>/imagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/newServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraProdutoServlet</servlet-name>
        <url-pattern>/cadastraProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProdutosServlet</servlet-name>
        <url-pattern>/buscaprodutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvaliarProdutoServlet</servlet-name>
        <url-pattern>/avaliarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosFornecedorServlet</servlet-name>
        <url-pattern>/produtosFornecedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
